@{
    ViewData["Title"] = "Home Page";
}
<partial name="Banner" />
<hr />
<button id="loadAjax" class="btn btn-sm btn-primary">Click load book từ partialResult</button>
<hr />
<div id="data-form-ajax" class="row">Loading data...</div>
<hr />
